/* for link preview */
.link-preview-container {
    display: inline-block;
    position: relative;
}

.link-preview-container img {
    display: none;
    position: absolute;
    object-fit: cover;
    border-radius: 2px;
    top: 1.5em;
    left: calc(50% - 200px);
    width: 400px;
    height: 300px;
    z-index: 9;
    border: 1px solid rgba(207, 217, 222, 0.4);
    -webkit-box-shadow: 0px 2px 5px rgba(10, 20, 20, 0.2);
    box-shadow: 0 2px 5px rgba(10, 20, 20, 0.2);
}

.link-preview-container:hover img {
    display: block;
}

/* for link card */
.link-card-container {
    user-select: none;
    outline-offset: -1px;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 0.85714em;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(207, 217, 222, 0.4);
    box-sizing: border-box;
    color: inherit !important;
    max-width: 400px;
    overflow: hidden;
    position: relative;
    color: inherit;
    fill: inherit;
    font-size: 14px;
    line-height: 1.3em;
    margin: auto;
}

.link-card-container:hover {
    background-color: rgba(207, 217, 222, 0.16);
}

.link-card-wrapper {
    padding: 0.75em 1em;
    overflow: hidden;
    text-align: left;
}

.link-card-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px;
}

.link-card-description {
    font-size: 14px;
    line-height: 18px;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-card-text {
    flex: 1;
}

.link-card-url {
    display: flex;
    margin-top: 6px;
    color: #8899A6;
}

.link-card-favicon {
    width: 16px;
    height: 16px;
    min-width: 16px;
    margin-right: 6px;
}

.link-card-link {
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-card-image-wrapper {
    flex: 1 1 225px;
    min-height: 80px;
    display: block;
    position: relative;
}

.link-card-image {
    display: block;
    object-fit: cover;
    border-radius: 1px;
    width: 100%;
    height: 100%;
}